@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

html,
body {
  height: 100%;
}

#container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  background-color: black;
  padding: 16px;
}

main {
  flex: 1;
  display: flex;
  background-color: crimson;
}

aside {
  background-color: blueviolet;
  padding: 16px;
  width: 85px;
}

#content {
  flex: 1;
  background-color: aqua;
  padding: 16px;
}

footer {
  background-color: #9c7878;
  padding: 16px;
}